/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v27-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v27-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v27-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-condensed-300 - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/roboto-condensed-v19-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-condensed-v19-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-condensed-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-condensed-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-condensed-v19-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-condensed-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-slab-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Переменные */

:root {
  /* --font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  --color-primary: #000;
  --color-secondary: #fff;
  --color-heading: #333;
  --color-paragraph: #555;
  --sidebar-background-color: #1e2939;
  --font-size-heading: 22px;
}

/* Обнуление */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-size: cover;
  line-height: 1.2;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*  шпора
target(прим. h1) / context(контекстб по умолч 16px) = result
24/15=1.5
*/

/* media */

/* Стили */

body {
  /* background-color: #dcdbd9; */
  color: #2c2c2c;
}

#page {
  margin: 0 auto;
  /* background-color: #dcdbd9; */

  /* background-color: rgb(226, 226, 80); */
}

.container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #ebeae9;
}

/* -------------------------aside---------------------------- */
.sidebar {
  width: 29.296875%; /* 300px / 1024px */
  /* padding: 32px 0; */
  /* background-color: rgb(216, 115, 115); */
  color: #888;
}

.sidebar a {
  color: rgba(12, 116, 116, 0.5);
}

.sidebar h3 {
  color: #999;
}

.sidebar__content {
  width: 96.66666666666667%; /* 290px / 300px */
  margin: 0 auto;
  padding: 16px 0 32px 0;
  background-color: #1e2939;
}

.my-photo {
  width: 89.6551724137931%; /* 260px / 290px */
  height: auto;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 50%;
}

.info-block {
  margin: 0 auto;
  width: 96.66666666666667%; /* 290px / 300px */
  /* background-color: rgb(236, 113, 12); */
  padding: 16px 4px;
}

.info-block__title {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 16px;
}

.info-block__list {
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  font-size: 1rem;
}

.contacts-item__box {
  display: flex;
  align-items: center;
  width: 96.66666666666667%;
  height: 38px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.contacts-item__box--icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: #999;
}

.contacts-text {
  font-size: 12px;
}

.sidebar-info-skill {
  margin-bottom: 8px;
}

/* -----------------------section-------------------------- */

.section {
  width: 70.3125%; /* 720px / 1024px */
  /* padding: 32px 0; */
  /* background-color: rgb(230, 9, 200); */
}

.section__content {
  margin: 0 auto;
  width: 95.83333333333333%; /* 690px / 720px */
  /* height: 728px; */
  /* background-color: rgb(4, 104, 26); */
  padding: 82px 0 32px 0;
  /* font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400; */
}

.section__title {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 16px;
}

.my-name {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 16px;
}

.my-info-item {
  margin-bottom: 12px;
}

.my-info-item-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}

.my-info-item-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.my-info-item-subheading {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
}

.project-list-item {
  margin-bottom: 8px;
}

.education-list-item {
  margin-bottom: 8px;
}
