/* arya-regular - latin */
@font-face {
  font-family: "Arya";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arya-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/arya-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/arya-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/arya-v9-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/arya-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/arya-v9-latin-regular.svg#Arya")
      format("svg"); /* Legacy iOS */
}
/* arya-700 - latin */
@font-face {
  font-family: "Arya";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/arya-v9-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/arya-v9-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/arya-v9-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/arya-v9-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/arya-v9-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/arya-v9-latin-700.svg#Arya")
      format("svg"); /* Legacy iOS */
}

/* Переменные */

:root {
  /* --font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  --color-primary: #000;
  --color-secondary: #fff;
  --color-heading: #333;
  --color-paragraph: #555;
  --sidebar-background-color: #1e2939;
  --font-size-heading: 22px;
}

/* Обнуление */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-size: cover;
  line-height: 1.2;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*  шпора
target(прим. h1) / context(контекстб по умолч 16px) = result
24/15=1.5
*/

/* Стили */

body {
  background-color: #dcdbd9;
  color: #2c2c2c;
}

#page {
  margin: 0 auto;
  background-color: rgb(226, 226, 80);
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

/* -------------------------aside---------------------------- */
.sidebar {
  width: 25%; /* 320px / 1280px */
  padding: 2em 0;
  background-color: rgb(216, 115, 115);
}

.sidebar__content {
  width: 96.875%; /* 310px / 320px */
  margin: 0 auto;
  padding: 1em 0;
  background-color: rgb(67, 217, 223);
}

.my-photo {
  width: 64.51612903225806%; /* 200px / 310px */
  height: auto;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 50%;
}

.info-block {
  margin: 0 auto;
  width: 93.54838709677419%; /* 300px / 310px */
  background-color: rgb(236, 113, 12);
  padding: 1em 0.25rem;
}

.info-block__title {
  font-family: "Arya";
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
}

.info-block__list {
  padding-left: 0.625rem;
  margin-bottom: 1.25rem;
  font-family: "Arya";
  font-weight: 400;
  font-size: 1rem;
}

.contacts-item__box {
  display: flex;
  width: 96.66666666666667%;
  height: 38px;
}

.contacts-text {
  display: inline-block;
  padding-left: 1.25rem;
  padding-bottom: 0.75rem;
}

.contacts-item__box--icon {
  fill: #1e2939;
}

/* -----------------------section-------------------------- */

.section {
  width: 75%; /* 960px / 1200px */
  padding: 2em 0;
  background-color: rgb(230, 9, 200);
}

.section__content {
  margin: 0 auto;
  width: 95.83333333333333%; /* 940px / 960px */
  /* height: 728px; */
  background-color: rgb(4, 104, 26);
  padding: 2em 0;
}

.section__title {
  font-family: "Arya";
  font-weight: 700;
  font-size: 40px;
  /* font-size: calc(24px + 16 * (100vh / 1280)); */
}
