/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v29-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v29-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v29-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v29-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v29-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v29-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v29-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v29-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v29-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v29-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v29-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v29-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v29-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v29-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v29-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v29-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* Переменные */

:root {
  --font-primary: "Roboto";
  --bg-color-primary: #ebeae9;
  --bg-color-sidebar: #1e2939;
  --text-color-sidebar: #999;
  --text-color-effect: #0c747480;
  --text-color-section: #1e2939;
}

/* Обнуление */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-size: cover;
  line-height: 1.4;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*  шпора
target(прим. h1) / context(контекстб по умолч 16px) = result
24/15=1.5
*/

/* -------------------Стили------------------------------ */

.container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--bg-color-primary);
  border: 1px solid var(--text-color-effect);
}

/* -------------------------aside---------------------------- */
aside {
  width: 31.25%; /* 320px / 1024px */
}

.sidebar-content {
  width: 100%; /* 310px / 320px */
  padding: 25px 0px 100px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-sidebar);
  background-color: var(--bg-color-sidebar);
  font-size: 1rem;
}

.sidebar img {
  width: 67.74193548387097%; /* 210px / 310px */
  height: auto;
  margin: 0 auto;
  margin-bottom: 12px;
  border-radius: 50%;
  border: 2px solid var(--text-color-effect);
}

.sidebar h3 {
  margin-bottom: 8px;
  padding: 6px 16px;
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
  color: #0c747480;
}

.sidebar a {
  color: inherit;
}

.sidebar-list {
  width: 100%; /* 290px / 310px */
  margin: 0;
  padding-left: 8px;
  border-radius: 6px;
}

.sidebar-item {
  margin-bottom: 12px;
  padding-left: 10px;
}

.sidebar-item p:not(:last-child) {
  margin-bottom: 6px;
}

.contacts-list li {
  display: flex;
  width: 86%;
  margin-right: 0px;
}

.contacts-list li:not(:last-child) {
  margin-bottom: 6px;
}

.contacts-list li svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--text-color-effect);
}

.skills-list li:not(:last-child) {
  margin-bottom: 6px;
}

/* -----------------------section-------------------------- */

section {
  width: 70.3125%; /* 720px / 1024px */
}

.section-content {
  width: 95.83333333333333%; /* 690px / 720px */
  margin: 0 auto;
  padding-top: 76px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-section);
  font-size: 1rem;
}

.section-content h1 {
  margin-bottom: 4px;
  padding-left: 16px;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-content h2 {
  margin: 0 auto;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

.section-list h3 {
  margin-bottom: 8px;
  font-size: 1.125rem;
  text-transform: uppercase;
  background-color: var(--text-color-effect);
  padding: 6px 16px;
  border-radius: 4px;
}

.section-list h4 {
  margin-bottom: 8px;
}

.section-item p:not(:last-child) {
  margin-bottom: 6px;
}

.section-item {
  margin-bottom: 12px;
}

.project-list li {
  margin-bottom: 8px;
}

.project-list a {
  text-transform: uppercase;
  color: var(--text-color-section);
  text-decoration: underline;
}

.education-list li {
  margin-bottom: 8px;
}
