/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v29-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v29-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v29-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v29-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v29-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v29-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v29-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v29-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v29-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v29-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v29-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v29-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v29-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v29-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v29-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v29-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

:root {
  --font-primary: "Roboto";
  --bg-color-primary: #ebeae9;
  --bg-color-sidebar: #1e2939;
  --text-color-sidebar: #999;
  --text-color-section: #1e2939;
  --text-color-effect: #0c747480;
  --text-color-span: #0c7174;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-size: cover;
  line-height: 1.4;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  margin-bottom: 8px;
}

h4,
h5,
h6 {
  margin-bottom: 4px;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--bg-color-primary);
}

.sidebar {
  width: 31.25%;
  padding: 24px 8px 8px 8px;
  color: var(--text-color-sidebar);
  background-color: var(--bg-color-sidebar);
}

.sidebar img {
  width: 67.74193548387097%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 26px;
  border-radius: 50%;
  border: 2px solid var(--text-color-effect);
}

.sidebar h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-effect);
}

.sidebar a {
  color: inherit;
}

.sidebar-list {
  padding: 0px 16px 8px 16px;
}

.sidebar-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.skills-list li:not(:last-child) {
  margin-bottom: 4px;
}

.section {
  width: 68.359375%;
  margin: 0 auto;
  padding: 76px 8px 8px 8px;
  color: var(--text-color-section);
}

.section h1 {
  margin-bottom: 0px;
  padding-left: 16px;
  text-transform: uppercase;
  font-size: 3.625rem;
  font-weight: 700;
}

.section h2 {
  margin-bottom: 16px;
  padding-left: 16px;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 500;
}

.section h3 {
  padding-left: 16px;
  text-transform: uppercase;
}

.section-list {
  padding: 0px 16px 10px 16px;
}

.section-item:not(:last-child) {
  margin-bottom: 8px;
}

.project-item:not(:last-child) {
  margin-bottom: 8px;
}

.project-name {
  color: var(--text-color-span);
  text-transform: uppercase;
}

.project-link {
  color: var(--text-color-section);
  text-decoration: underline;
}

.work-list {
  margin-bottom: 8px;
}

.education-item:not(:last-child) {
  margin-bottom: 8px;
}
